@import "../../variables.scss";
#faq {
  padding-top: 40px;

  .faq-question {
    font-size: 12px;
    text-align: left;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
    border: 3px dashed #9c8d5e;
  }
  .faq-question-heading {
    width: 90%;
  }
  .arrow-down {
    padding-left: 4px;
    transition: all 0.4s;
  }

  @media (min-width: 1024px) {
    .faq-question {
      font-size: 20px;
    }
  }

  @media (min-width: 1280px) {
    .faq-question {
      font-size: 24px;
    }
  }
}
