.nft-gallery-page {
  @apply w-full h-full flex-grow flex flex-col justify-between;
  .bio-wrapper {
    filter: grayscale(1);
  }
  .nft-wrap {
    .nft-img {
      filter: grayscale(1);
      border-color: black;
    }
  }
  .active {
    border-color: white;
    .nft-img {
      filter: grayscale(0);
    }
  }
  .active .bio-wrapper {
    filter: grayscale(0);
  }
}
