@import "../../variables.scss";

.home-header {
  position: relative;
  @apply flex justify-between items-center font-extrabold;
  color: white;
  text-transform: uppercase;

  .header-balance {
    font-size: 20px;
  }
  .disconnect-button {
    display: flex;
    align-items: center;
  }
  .wallet-id {
    max-width: 65px;
    color: $yellow;
    font-family: sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .btn-disconnect {
    @apply leading-none bg-myBlack px-6 py-4 text-xs rounded-xl;
  }
}
