@import "../../variables.scss";
.grid-custom {
  display: grid;
  padding: 15px 20px;
  line-height: 1;
  font-size: 20px;
  color: black;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 24px;
  border-radius: 20px;
  padding: 0 20px;
  height: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
.other {
  background-color: #fff2e1;
}
.user {
  background-color: #fff2e1;
}
