@import "../../variables.scss";
.home-dashboard {
  width: 100%;
  .nav-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    width: 100%;
  }
  .nav-grid-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: all 0.5s;
    &:hover {
      .market-grid {
        transform: translateY(-30%);
      }
    }
    &.contact {
      p {
        transition: all 0.5s;
        opacity: 0;
      }
      img {
        transition: all 0.5s;
      }
      &:hover {
        p {
          display: inline-block;
          opacity: 1;
          transform: translateX(-50%) translateY(-50%) scale(3);
        }
        img {
          opacity: 0;
        }
      }
    }
  }
  .nav-grid-item-button {
    height: 60px;
    width: 100%;
    box-shadow: 0px 24px 45px -23px rgba(255, 210, 50, 0.4) inset;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    flex-shrink: 0;
    border: 2px solid transparent;
    transition: all 0.5s;
    &:hover {
      transform: scale(0.95);
    }
  }

  .my-juicy {
    background-color: #ff8413;
    &:hover {
      background-color: $lime;
    }
  }
  .minigames {
    background-color: #000;
    box-shadow: unset;
    &:hover {
      background-color: transparent;
      border-color: black;
      color: black;
    }
  }
  .leaderboard {
    box-shadow: 0px 24px 45px -23px rgba(0, 0, 0, 0.1) inset;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    &:hover {
      background-color: $lime;
      border-color: transparent;
      color: white;
    }
  }
  .store {
    box-shadow: 0px 24px 45px -23px rgba(0, 0, 0, 0.1) inset;
    background: #b9b9b9;
    &:hover {
      background-color: $orange;
    }
  }
  .contact-us {
    box-shadow: 0px 24px 45px -23px rgba(0, 0, 0, 0.1) inset;
    background: #34a3ff;
    &:hover {
      background-color: $orange;
    }
  }
  .marketplace {
    box-shadow: 0px 24px 45px -23px rgba(0, 0, 0, 0.1) inset;
    background: #755782;
    &:hover {
      background-color: $lime;
    }
  }
  .swiper {
    height: 100%;
  }
  .slide-inner-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .slide-inner-img {
    object-fit: cover;
    height: 100%;
    width: auto;
  }
  .slide-buy-btn {
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 80%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    position: absolute;
    z-index: 4;
    font-size: 8px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
  }
  .swiper-store-nav-button {
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: 50%;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
  }
  .next {
    right: 0;
    transform: translateX(50%) translateY(-50%);
  }
  .prev {
    left: 0;
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
  }
}
